body
{
  background-color: #25587E;
  font-family: Arial,Helvetica,sans-serif;
}

#content
{
  height: 200px;
  width: 400px;
  background-color: #82CAFA;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid #302217;
}

#name
{
  padding-top: 30px;
  color: #302217;
}

#social_media_icons
{
  width: 125px;
  margin-left: auto;
  margin-right: auto;
}

.center_text
{
    text-align:center;
}



